## Crude Oil Price Forecasting

#### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Load Dataset

In [3]:
data = pd.read_csv("spot-prices-for-crude-oil.csv")
data.head()

  Date;Brent Spot Price (U.S. Dollars per Barrel);WTI Spot Price (U.S. Dollars per Barrel)
0                                  2021-11-26;72.37;
1                                  2020-01-20;64.63;
2                                  2017-07-04;49.15;
3                                   2017-01-16;54.3;
4                             2021-11-17;80.67;78.32

In [5]:
data = pd.read_csv("spot-prices-for-crude-oil.csv", sep=";", index_col="Date")

In [6]:
data.head()

,Brent Spot Price (U.S. Dollars per Barrel),WTI Spot Price (U.S. Dollars per Barrel)
Date,,
2021-11-26,72.37,NaN
2020-01-20,64.63,NaN
2017-07-04,49.15,NaN
2017-01-16,54.30,NaN
2021-11-17,80.67,78.32

In [12]:
data.rename(columns={'Brent Spot Price (U.S. Dollars per Barrel)': 'Brent Spot Price',
             'WTI Spot Price (U.S. Dollars per Barrel)': 'WTI Spot Price'},inplace=True)

In [13]:
data.head()

            Brent Spot Price  WTI Spot Price
Date
2021-11-26             72.37             NaN
2020-01-20             64.63             NaN
2017-07-04             49.15             NaN
2017-01-16             54.30             NaN
2021-11-17             80.67           78.32